{% extends 'base_form.html.twig' %}

{% block body_form %}
    <div class="well">
            <a href="https://maplaine.fr/k8f96gtb?user_id={{ app.user.id }}">http://maplaine.fr/k8f96gtb?user_id={{ app.user.id }}</a>
    </div>

{% endblock %}
