{% extends 'base_form.html.twig' %}

{% block body_form %}
    <div class="card">
        <div class="card-header">
            Caractéristique
        </div>
        <div class="list-group">
            <div class="list-group-item flex-column align-items-start">
                <div class="row" style="min-height: 1.5rem;">
                    <div class="col-md-6">
                        Date create
                    </div>
                    <div class="col-md-6">
                        {{licence.date_create| showDatetime}}
                    </div>
                </div>

            </div>
             <div class="list-group-item flex-column align-items-start">
                <div class="row" style="min-height: 1.5rem;">
                    <div class="col-md-6">
                        Licence
                    </div>
                    <div class="col-md-6">
                        {{licence.licence}}
                    </div>
                </div>

            </div>
            <div class="list-group-item flex-column align-items-start">
                <div class="row" style="min-height: 1.5rem;">
                    <div class="col-md-6">
                        Licence decode
                    </div>
                    <div class="col-md-6">
                        {{licence.licence_decode}}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}