{% extends 'base_form.html.twig' %}

{% block body_form %}

<div class="well">
    <ul>
        <li>Reims 120 km</li>
        <li>Chalons 200 km</li>
        <li>Warmeriville 160 km</li>
        <li>Dizy-le-Gros 200 km</li>
    </ul>
</div>

{% endblock body_form %}
