{% extends 'base_form.html.twig' %}

{% block body_form %}


<div class="card">
    <div class="card-header">
        Connection
    </div>
    <div class="card-body">
        <a href="{{ url("connection_user", {'user_id': user.id}) }}">connection</a>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Historique
    </div>
    <div class="list-group">
        {% for log in logs %}
        <div class="list-group-item flex-column align-items-start">
            <div class="row">
                <div class="col-md-3">
                    {{ log.date| showDatetime }}
                </div>
                <div class="col-md-9">
                    {{ log.description }}
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
