{% extends 'AppBundle::base_agri.html.twig' %}
{% from "AppBundle::base_agri.html.twig" import show_eur %}

{% block body %}


<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
            </tr>
            {% for company in companies %}
            <tr>
                <td><a href="{{ url("admin_company", {'id': company.id}) }}">{{company.id}}</td>
                <td>{{company.name}}</td>
                <td>{{company.city}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
