{% extends 'base_form.html.twig' %}


{% block body_form %}

<div class="card">
    <div class="card-header">
        Body
    </div>
    <div class="card-body">
        {{ robot_json | json_encode | raw}}
    </div>
    <div class="card-body">
        {{ robot_esp32}}
    </div>

</div>


{% endblock body_form %}
