{% extends 'AgriBundle::base_agri.html.twig' %}

{% block body %}


<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/compte/0'">ADD</button>
            Comptes
        </div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Prix</th>
            </tr>
            {% for compte in comptes %}
                <tr>
                    <td><a href="/compte/{{compte.id}}">{{compte.name}}</a></td>
                    <td>0</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
