{% extends 'base_agri.html.twig' %}

{% block body %}


<header class="masthead text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-5">Un logiciel de gestion parcellaire pour les agriculteurs</h1>
            </div>
        </div>
    </div>
</header>

<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="bg-light home_page_element md">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3>Simplicité</h3>
                    <p class="lead mb-0">Créez un ilot, une parcelle, une intervention ...</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bg-light home_page_element">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-layers m-auto text-primary"></i>
                    </div>
                    <h3>Disponibilité</h3>
                    <p class="lead mb-0">Mes données sont disponibles partout avec moi</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bg-light home_page_element">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-check m-auto text-primary"></i>
                    </div>
                    <h3>Sécurité</h3>
                    <p class="lead mb-0">La connection est sécurisée et les données sont sauvegardés toutes les nuits</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features-icons text-center">
    <h3 class="mb-5">Abordable</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3>Essais gratuit</h3>
                    <p class="lead mb-0">L'essais est gratuit pendant 3 mois</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-layers m-auto text-primary"></i>
                    </div>
                    <h3>Sans Engagement</h3>
                    <p class="lead mb-0">Service disponible pour 5€/mois sans engagement</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
