{% extends 'base_form.html.twig' %}

{% block body_form %}



{% if (borne.id != '') %}

<div class="card">
    <div class="card-header">
        Details
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                longeur : {{borne.calculate_pression}} bar
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Delete
        <button type="button" class="btn btn-danger" onclick="window.location.href='{{ url("irri_borne_delete", {'borne_id': borne.id}) }}'">Delete</button>
    </div>
</div>

{% endif %}

{% endblock %}
