{% extends 'base_agri.html.twig' %}

{% block body %}


    <div class="card">
        <div class="card-header">
            <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("irri_projet", {'projet_id': 0}) }}'">Ajouter</button>
            Projets
        </div>
        <div class="list-group">
            {% for projet in projets %}
            <div class="list-group-item flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        <a href="{{ url("irri_projet2", {'projet_id': projet.id}) }}">{{projet.name}}
                        </a>
                    </h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
