{% extends 'AgriBundle::base_agri.html.twig' %}

{% block body %}


<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/ilot/0'">ADD</button>
            Ilots
        </div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Surface</th>
            </tr>
            {% for ilot in ilots %}
                <tr>
                    <td><a href="/ilot/{{ilot.id}}">{{ilot.name}}</a></td>
                    <td>{{ "%.2f  ha"|format(ilot.surface)}}</td>
                </tr>
            {% endfor %}
            <tr>
                <th>TOTAL</th>
                <th>{{ "%.2f  ha"|format(sum_ilots)}}</th>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
