{% extends 'AgriBundle::base_agri.html.twig' %}

{% block body %}

<div class="container bs-docs-container">
    <div class="row">

            <div class="col-md-4">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        Derniers Prix Euronext
                    </div>
                    <table id="euronext" class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Echeance</th>
                                <th>Prix</th>
                                <th>A</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div id="meteo_title" class="panel-heading">
                        Météo
                    </div>
                    <table id="example" class="table">
                        <thead>
                            <tr>
                            <th></th>
                            <th></th>
                            <th>Temp</th>
                            <th>Pluie</th>
                            <th>Hum</th>
                            <th>Vent</th>
                            <th></th>
                            <th></th>
                            </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>

{% endblock body %}

{% block javascripts %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jQuery UI Autocomplete - Default functionality</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script>
$( function() {
    t = $('#example').DataTable({
        "paging":   false,
        "ordering": false,
        "info":     false,
        "searching":   false,
        columns: [
            {},
            {},
            {render: function (data, type, row) {
                    return data + ' °C';
                }},
            {},
            {},
            {},
            { render: function (data, type, row) {
                    return data + ' km/h';
                }
            },
            {}
        ],
        'rowCallback': function(row, data, index){


            if(data[2]> 25){
                $(row).find('td:eq(2)').css('background', '#FF3333');
            } else if(data[2]> 20){
                $(row).find('td:eq(2)').css('background', '#FF6600');
            } else if(data[2]> 15){
                $(row).find('td:eq(2)').css('background', '#FF9900');
            } else if(data[2]> 10){
                $(row).find('td:eq(2)').css('background', '#FFFF09');
            } else if(data[2]> 5){
                $(row).find('td:eq(2)').css('background', '#FFFF84');
            }

            if(data[4]> "30 %"){
                $(row).find('td:eq(4)').css('background', '#fff');
            }
            if(data[4]> "40 %"){
                $(row).find('td:eq(4)').css('background', '#f8f8f8');
            }
            if(data[4]> "50 %"){
                $(row).find('td:eq(4)').css('background', '#eee');
            }
            if(data[4]> "60 %"){
                $(row).find('td:eq(4)').css('background', '#e8e8e8');
            }
            if(data[4]> "70 %"){
                $(row).find('td:eq(4)').css('background', '#ddd');
            }
            if(data[4]> "80 %"){
                $(row).find('td:eq(4)').css('background', '#d8d8d8');
            }
            if(data[4]> "90 %"){
                $(row).find('td:eq(4)').css('background', '#c8c8c8');
            }

            $(row).find('td:eq(6)').css('background', '#33CCFF');
            if(data[6]> 15){
                $(row).find('td:eq(6)').css('background', '#0099FF');
            }
        }
    });
    t_euronext = $('#euronext').DataTable({
        "paging":   false,
        "ordering": false,
        "info":     false,
        "searching":   false,
        'rowCallback': function(row, data, index){


            if(data[3][0] == '+'){
                $(row).find('td:eq(3)').css('background', '#15873c');
            } else{
                $(row).find('td:eq(3)').css('background', '#e52c2c');
            }
        }
    });
    {% if(company.meteoCity) %}
    var url = "http://api.openweathermap.org/data/2.5/forecast?q={{company.meteoCity}},fr&lang=fr&units=metric&appid=08733bae355af51820ad53268746027d";
    {% elseif(company.city) %}
    var url = "http://api.openweathermap.org/data/2.5/forecast?q={{company.city}},fr&lang=fr&units=metric&appid=08733bae355af51820ad53268746027d";
    {% else %}
    var url = "http://api.openweathermap.org/data/2.5/forecast?q=Laon,fr&lang=fr&units=metric&appid=08733bae355af51820ad53268746027d";
    {% endif %}
    $.getJSON(url, function( data ) {
        oldd = 0;
        for(i in data.list){
            o = data.list[i];
            rain = null;
            if(o.rain && o.rain['3h']){
                rain = o.rain['3h']+"mm";
            }
            var date = new Date(o.dt*1000);
            d = date.getDate();
            d2 = date.getDay();
            h = date.getHours();
            if(d2 == 0){
                d = 'Di ' + d;
            } else if (d2 == 1){
                d = 'Lu ' + d
            } else if (d2 == 2){
                d = 'Ma ' + d
            } else if (d2 == 3){
                d = 'Me ' + d
            } else if (d2 == 4){
                d = 'Je ' + d
            } else if (d2 == 5){
                d = 'Ve ' + d
            } else if (d2 == 6){
                d = 'Sa ' + d
            }
            h = h + 'h'
            if(oldd == d){
                d = "";
            } else {
                oldd = d;
            }
            row = t.row.add([d, h, o.main.temp, rain, o.main.humidity+" %", Math.round(o.wind.deg), Math.round(o.wind.speed*3.6), o.weather[0].description]).draw( false );
        }
        $('#meteo_title').text("Météo " + data.city.name);
    });
    $.getJSON("http://ade.agrinext.fr/pages/white/sitefr/quotesAjax.aspx?LANG=fr",function( data ) {
        console.log(data);
        var last_code = "";
        for(i in data.data){
            o = data.data[i];
            if(o.code == 'EBM'){

            } else if(o.code == 'EMA'){

            } else if(o.code == 'ECO'){

            } else {
                continue;
            }
            if(last_code == o.code){
                continue;
            } else {
                last_code = o.code;
            }
            console.log(o);
            row = t_euronext.row.add([o.code, o.expiry, o.value, o.vari]).draw( false );
        }
    });
} );
</script>
{% endblock %}
