<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">AgriManager</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                    <li><a href="/ilots">Ilots</a></li>
                    <li><a href="/campagnes">Campagnes</a></li>
                    <li><a href="/parcelles">Parcelles</a></li>
                    <li><a href="/interventions">Interventions</a></li>
                    <li><a href="/stocks">Stocks</a></li>
                    <li><a href="/achats">Achats</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!--button(type='button', class='btn btn-default navbar-btn') Sign in-->
                        <li><a href="/login">Log In</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="well">

                {% if error %}
                <div class="alert alert-danger">{{ error.message }}</div>
                {% endif %}

                <form action="{{ path('login_check') }}" method="post">
                    <label for="username">Login :</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />


                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="_password" />
                    <br />

                    <input type="submit" value="Connexion" />
                </form>
            </div>
        </div>


    </body>
</html>
