{% extends 'AgriBundle::base_agri.html.twig' %}

{% block body %}


<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading">Panel heading</div>
        <table class="table">
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>qty</th>
                <th>price</th>
            </tr>
            {% for p in stocks %}
            <tr>
                <td>{{p.type}}</td>
                <td>{{p.name}}</td>
                <td>{{p.qty}}</td>
                <td>{{ "%.2f €"|format(p.price) }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
