{% extends 'AppBundle::base_agri.html.twig' %}

{% block body %}


<div class="container bs-docs-container">


    <form action="achats" method="post" enctype="multipart/form-data">
        <p>Csv file:
        <input type="file" name="file" />
        <input type="submit" value="Send" />
        </p>
    </form>

</div>
{% endblock %}
