<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-datepicker.min.css" rel="stylesheet">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap-datepicker.min.js"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">AgriManager</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                    <li><a href="/ilots">Ilots</a></li>
                    <li><a href="/campagnes">Campagnes</a></li>
                    <li><a href="/parcelles">Parcelles</a></li>
                    <li><a href="/interventions">Interventions</a></li>
                    <li><a href="/stocks">Stocks</a></li>
                    <li><a href="/achats">Achats</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!--button(type='button', class='btn btn-default navbar-btn') Sign in-->
                        <li><a href="/login">Log In</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container bs-docs-container">
            {% if campagnes is defined %}
            <select class="selectpicker" id="dynamic_select">>
                {%for campagne in campagnes %}
                <option value="{{campagne.id}}" {%if campagne.id == campagne_id %} selected {%endif%}>{{campagne.name}}</option>
                {%endfor%}
            </select>
            {% endif %}
        </div>
        {% block body %}{% endblock %}
    </body>
    <script>
$(function(){
    // bind change event to select
    $('#dynamic_select').on('change', function () {
        var val = $(this).val(); // get selected value
        if (val) { // require a URL
            var url = window.location.href;
            if(location.search){
                url = url.replace(location.search,"?campagne_id="+val);
            } else {
                url = url + "?campagne_id="+val;
            }
            console.log(url);

            window.location = url; // redirect
        }
        return false;
    });
});
    </script>
    <script>
$(document).ready(function() {
    $('.js-datepicker').datepicker({
        format: 'dd-mm-yyyy'
    });
});
    </script>

</html>
